/* setup snippets starts here */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* font-family: 'Martel', serif; */
/* font-family: 'Roboto', sans-serif; */

/* #f99a14 */
/* #000000 */
/* #1c268b */

html {
  scroll-behavior: smooth;
}

.wrapper {

}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 40px;
  width: 40px;
}

.logo p {
  position: absolute;
  top: -9px;
  left: 12px;
  color: white;
  font-family: 'Martel', serif;
  font-weight: 900;
  font-size: 20px;
}

.small-logo {
  background-color: #F99A14;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 34px;
  left: 34px;
}

.nav-text {
  text-align: right;
}

ul {
  margin: 0 auto;
  list-style-type:none;
  margin-right: 100px;
}

li {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  padding: 20px;
}

li a {
  text-decoration: none;
  padding-bottom: 10px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #F99A14;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; 
}

li a:hover:before,
li a:focus:before,
li a:active:before {
  left: 0;
  right: 0;
}

li a:link,
li a:visited {
  color: white;
}

.intro {
  background-image: url(./assets/background1-darker.png);
  height: 100vh;
}

.intro-text {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 10%;
}

.intro-text h2 {
  color: white;
}

.fa-map-pin {
  color: #F99A14;
  margin-right: 5px;
}

.location p {
  display: inline-block;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  font-family: 'Martel', serif;
  font-size: 3rem;
}

h2 { 
  font-family: 'Martel', serif;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Martel', serif;
  font-weight: 900;
  font-size: 1.5rem;
}

img {
  max-width:100%;
  max-height:100%;
}

.arrow-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: #F99A14;

  /* animation code starts here */
  text-align: center;
  margin: 2% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* animation code ends here */

.arrow-down a {
  color: #F99A14;
  text-decoration: none;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-direction: row; 
  flex-wrap: wrap;
  margin-top: 100px;
}

.project-image {
  width: 30%;
}

.project-texts {
  width: 35%;
  padding: 0 30px 0 30px;
}

.app-intro {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5em;
}

.languages {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  margin: 25px 0 35px 0;
}

.project-link {
  /* font-family: 'Martel', serif;
  font-weight: 900;
  text-decoration: none;
  padding: 1px 20px 1px 20px;
  border: 2px solid #1A1B1F;
  border-radius: 10px;
  margin-right: 20px; */
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  border: 1px solid #1A1B1F;
  border-radius: 10px;
  margin-right: 20px;
}

.project-link:link,
.project-link:visited {
  color: #1A1B1F;
}

.bar {
  color: #F99A14;
}

.skills-section {
  background-color: #626262;
  margin-top: 100px;
  text-align: center;
  height: 60vh;
}

.skills-container {
  margin-top: 50px;
  justify-items: center;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 100%);
}

.skills-header {
  font-family: 'Martel', serif;
  font-weight: 900;
  font-size: 2rem;
  color: white;
  padding-top: 50px;
}

.skills-logo {
  display: inline-block;
  height: 40px;
  width: 65px;
  margin: 20px;
}

.skills-logo p{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.about { 
  display: flex;
  justify-content: center;
  flex-direction: row; 
  flex-wrap: wrap;
  margin: 100px 0;
}

.about-image {
  width: 30%;
}

.about-image img{
  border-radius: 4px;
  border: 10px solid #EEE5E5;
	outline: 5px dashed #EEE5E5;
}

.about-text {
  width: 50%;
  margin-left: 50px;
}

.about-me h2 {
  color: #1A1B1F;
}

.about-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-top: 40px;
}

.fa-download {
  padding-right: 5px;
}

.about-text a {
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 7px 20px 7px 20px;
  border: 1px solid #1A1B1F;
  border-radius: 10px;
}

.about-text a:link,
.about-text a:visited {
  color: #1A1B1F;
}

.resume-link {
  margin-top: 30px;
  width: 100%;
}

.contact {
  background-color: #626262;
}

.contact-container {
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.contact-text {
  margin: 50px 0;
}

.contact-text h2 {
  display: inline-block;
  color: white;
  border-bottom: 4px solid #F99A14;
}

.contact-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1em;
  color: white;
}

.contact-text a {
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 8px;
  border-radius: 5px;
  margin-left: 5px;
}

.contact-text a:hover,
.contact-text a:focus,
.contact-text a:active {
  background-color: white;
  color: #626262;
}

.contact-text a:visited {
  color: white;
}

.form-container {
  display: block;
}

form {
  margin-top: 50px;
}

label {
  font-family: 'Martel', serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #A2A2A2;
}

input[type=submit] {
  width: 100%;
  background-color: #F99A14;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Martel', serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color: ;
}

.social-media {
  width: 100%;
  margin: 50px 0;
  text-align: center;
}

span {
  color: white;
  font-family: 'Martel', serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.fab {
  text-decoration: none;
  color: white;
}

.fa-long-arrow-alt-right {
  margin: 0 30px;
}

.fa-linkedin-in,
.fa-github,
.fa-twitter,
.fa-medium-m {
  margin: 0 30px;
}

.footer {
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: #1A1B1F;
  height: 5vh;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}

@media (max-width: 620px) {
  ul {
    margin-right: 10px;
    width: 30%;
  }

  li {
    padding: 10px 0;
    margin-right: 15px;
  }

  .project-container {
    margin-top: 50px;
    text-align: center;
  }

  .project-image {
    width: 80%;
  }

  .project-texts {
    width: 80%;
    margin-bottom: 50px;
  }

  .skills-container {
    display: block;
  }
}